.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-medias {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 10px 0;
}

.social-medias li {
  margin: 0 15px;
}

.social-medias i {
  font-size: 30px;
  color: white;
}

.social-medias i:hover {
  color: #5fd0df;
}

.author {
  margin: 10px 0;
  font-family: Unica One, cursive;
  color: white;
}

.author a {
  color: white;
  text-decoration-color: white;
}

.author a:hover {
  color: #5fd0df;
  text-decoration-color: #5fd0df;
}
