<div class="footer-container">
  <ul class="social-medias">
    <li>
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="https://www.xing.de/">
        <i class="fab fa-xing"></i>
      </a>
    </li>
    <li>
      <a href="https://www.github.com/">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
  <p class="author">
    Designed and Coded by
    <a href="https://www.linkedin.com/in/victorbicego/">Victor</a>. This is the
    Code Taks for a Freelancer Position.
  </p>
</div>
