<div class="create-event-container">
  <div class="create-modal">
    <span class="close" (click)="closeModal()">&times;</span>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <label>Title:</label>
      <input type="text" formControlName="title" class="form-control" />

      <label>Price:</label>
      <input type="number" formControlName="price" class="form-control" />

      <label>Description:</label>
      <textarea formControlName="description" class="form-control"></textarea>

      <div formGroupName="address">
        <label>Street:</label>
        <input type="text" formControlName="street" class="form-control" />

        <label>Immobile Number:</label>
        <input
          type="text"
          formControlName="immobileNumber"
          class="form-control"
        />

        <label>City:</label>
        <input type="text" formControlName="city" class="form-control" />

        <label>Postal Code:</label>
        <input type="text" formControlName="postalCode" class="form-control" />
      </div>

      <div formGroupName="timeInterval">
        <label>Start Time:</label>
        <input
          type="datetime-local"
          formControlName="startTime"
          class="form-control"
        />

        <label>End Time:</label>
        <input
          type="datetime-local"
          formControlName="endTime"
          class="form-control"
        />
      </div>

      <div formGroupName="capacity">
        <label>Max Capacity:</label>
        <input
          type="number"
          formControlName="maxCapacity"
          class="form-control"
        />
      </div>

      <div class="button-container">
        <button [disabled]="!validate()" type="submit">Create Event</button>
      </div>
    </form>
  </div>
</div>
