<app-delete-event-modal
  *ngIf="showDeleteEventModal"
  class="delete-event-modal"
  (closeModalEvent)="handleCloseDeleteEventModal()"
  (confirmDelete)="handleDeleteEvent()"
></app-delete-event-modal>

<app-create-event-modal
  *ngIf="showCreateEventModal"
  class="create-event-modal"
  (closeModalEvent)="handleCloseCreateEventModal()"
  (createdModalEvent)="handleCreateEventModal()"
  [eventInput]="event"
></app-create-event-modal>

<app-event-full-modal
  *ngIf="showNoSeatAvailableModal"
  class="event-full-modal"
  (closeModalEvent)="handleCloseEventFullModal()"
  [errorMessage]="errorMessage"
></app-event-full-modal>

<div class="event-card">
  <div class="row">
    <h2>{{ event?.title }}</h2>
    <div>
      <ul class="action-buttons">
        <li>
          <a class="edit-button" (click)="showCreateEventModal = true"
            ><i class="fas fa-edit"></i
          ></a>
        </li>
        <li>
          <a class="delete-button" (click)="showDeleteEventModal = true"
            ><i class="fas fa-trash"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div>
      <p class="time">{{ event!.timeInterval | date }}</p>
      <p class="address">
        {{ event?.address?.street }}, {{ event?.address?.immobileNumber }},
        {{ event?.address?.city }}, {{ event?.address?.postalCode }}
      </p>

      <div
        class="info-icon"
        (mouseover)="showDescription = true"
        (mouseleave)="showDescription = false"
      >
        <i class="fas fa-info-circle"></i>
        <div class="description-hover" *ngIf="showDescription">
          {{ event?.description }}
        </div>
      </div>

      <div
        class="price-icon"
        (mouseover)="showPrice = true"
        (mouseleave)="showPrice = false"
      >
        <i class="fas fa-dollar-sign"></i>
        <div class="price-hover" *ngIf="showPrice">${{ event?.price }}</div>
      </div>

      <div
        class="capacity-icon"
        (mouseover)="showCapacity = true"
        (mouseleave)="showCapacity = false"
      >
        <i class="fas fa-users"></i>
        <div class="capacity-hover" *ngIf="showCapacity">
          {{ event?.capacity?.actualCapacity }}/{{
            event?.capacity?.maxCapacity
          }}
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="subscribe-button" (click)="subscribeAttendantToEvent()">
        JOIN THIS EVENT
      </button>
    </div>
  </div>
</div>
