.home-container {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    "events events events events right-panel"
    "events events events events right-panel"
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
  padding: 0 200px;
}

.right-panel {
  grid-area: right-panel;
  margin-right: 200px;
  padding: 20px 0;
}

.events-container {
  grid-area: events;
  margin-left: 200px;
  padding: 20px 20px 0 20px;
}

.events-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  grid-area: footer;
  background-color: #005f7f;
  border-top: 5px solid #5fd0df;
  padding: 0 200px;
}
