<div class="home-container">
  <app-header class="header"></app-header>
  <app-right-panel class="right-panel"></app-right-panel>
  <div class="events-container">
    <ul *ngIf="events.length > 0">
      <li *ngFor="let event of events">
        <app-event
          [event]="event"
          (eventDeleted)="subscribeToEventDeleted($event)"
        ></app-event>
      </li>
    </ul>
    <p *ngIf="events.length == 0">No events available.</p>
    <button class="new-event-button" (click)="openCreateEventPopup()">
      Add New Event
    </button>
  </div>
  <app-footer class="footer"></app-footer>
</div>

<app-create-event-modal
  *ngIf="showCreateEventModal"
  class="create-event-modal"
  (closeModalEvent)="handleCloseCreateEventModal()"
  (createdModalEvent)="handleCreateEventModal()"
></app-create-event-modal>
